


@model VIGO_ERP_2._0.Models.Common_BO.BreadcrumbViewModel

<style>
    /* Breadcrumb */
    .page_header {
        display: flex;
        justify-content: space-between;
        padding: 10px 35px;
        align-items:center;
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14.5px;
        color: var(--text-light);
    }

        .breadcrumb a {
            color: var(--text-light);
            text-decoration: none;
            transition: var(--transition);
        }

            .breadcrumb a:hover {
                color: var(--primary);
            }

        .breadcrumb .separator {
            color: #cbd5e1;
            font-weight: 300;
        }

        .breadcrumb .current {
            color: var(--text);
            font-weight: 600;
        }

    .page_title {
        color: #4f46e5;
        font-weight: 600;
    }
</style>

<div class="page_header">
    <p class="page_title">@Model.PageTitle</p>

    <nav class="breadcrumb">
        <a href="@Url.Action("Dashboard","Admin")">
            <i class="fas fa-home"></i> Home
        </a>

        @foreach (var item in Model.Breadcrumbs)
        {
            <span class="separator">/</span>

            if (!string.IsNullOrEmpty(item.Url))
            {
                <a href="@item.Url">@item.Title</a>
            }
            else
            {
                <span class="current">@item.Title</span>
            }
        }
    </nav>
</div>
